*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
#one,#two{
    width: 70%;
    margin: 3rem auto;
    height: 70vh;
    width: 60vw;
    box-shadow: 0 0 3px gray;
    position: relative;
    overflow: hidden;
}

.slide1,.slide2{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s ease-in;
}
.btn{
    margin: 1rem 0;
    text-align: center;
}

.left-btn,.right-btn{
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}